#guider {
	position: absolute;
	left: -1px;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid grey;
	background-color: lightgray;
}
.bigpic {
	position: absolute;
	left: -3px;
	top: 50px;
	width: 100%;
	height: 60%;
	border-bottom: 1px solid grey;
	background-color: #edefed;
}
#f1 {
	position: absolute;
	left: 4px;
	top: 3px;
	width: 30%;
	height: 99%;
}
#f2 {
	position: absolute;
	left: 30.5%;
	top: 3px;
	width: 39.5%;
	height: 98%;
}
#f3 {
	position: absolute;
	right: -1px;
	top: 3px;
	width: 30%;
	height: 98%;
}
.inform {
	position: absolute;
	left: 1px;
	top: 540px;
	height: 60px;
	width: 100%;
	border-bottom: 1px solid lightgrey;
}

#myImg1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg1:hover, #myImg2:hover, #myImg3:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
#caption2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
#caption3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 60px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#owner {
	position: absolute;
	left: 120px;
	top: -100px;	
	width: 100px;
	height: 100px;
	border: 1px solid grey;
	border-radius: 50%;
}
#owner:hover {
	width: 130px;
	height: 130px;
}
#add {
	position: absolute;
	left: 300px;
	top: -100px;
	color: grey;
	font-size: 24px;
}
.reservation {
	position: absolute;
	right: 138px;
	top: 448px;
	width: 350px;
	height: 250px;
	border:1px solid lightgrey;
}
#blank1 {
	width: 100%;
	height: 25%;
	background-color: black;
	opacity:0.4;
    filter:alpha(opacity=40);
}
#blank2 {
	position: relative;
	width: 100%;
	height: 75%;
	background-color: #edefed;
}
#r_num {
	position: relative;
	margin-left: 20px;
	margin-top: -1px;
	width: 25%;
	height: 20%;
	font-size: 16px;
}
#r_reserve {
	position: relative;
	margin-left: 20px;
	margin-top: 50px;
	width: 90%;
	height: 30%;
	background-color: #cc0000;
	opacity: 0.5;
	text-align: center;
	font-size: 28px;
	line-height: 50px;
	color: white;
}
#r_reserve:hover {
	opacity: 1.0;
}
.save {
	position: absolute;
	right: 138px;
	top: 720px;
	width: 350px;
	height: 150px;
	border:1px solid lightgrey;
}
#save1 {
	position: relative;
	margin-top: 20px;
	margin-left: 20px;
	width: 90%;
	height: 50px;
	border: 1px solid lightgrey;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	background-color: white;
}
#save1:hover {
	border-color: black;
}
.s_share {
	position: relative;
	margin-top: 25px;
	width: 100%;
	border-top: 1px solid lightgrey;
}
#s_share1 {
	float: left;
	width: 33%;
	height: 52px;
	border: 1px solid lightgrey;	
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: grey;
	background-color: white;
}
#s_share2 {
	float: left;
	width: 34%;
	height: 53px;
	border: 1px solid lightgrey;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: grey;
	background-color: white;
}
#s_share3 {
	float: left;
	width: 33%;
	height: 53px;
	border: 1px solid lightgrey;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: grey;
	background-color: white;
}
#s_share1:hover, #s_share2:hover, #s_share3:hover {
	border: 1px solid black;
}
#more {
	display: none;
	position: relative;
	left: 225px;
	top: -15px;
	width: 130px;
	height: 140px;
	border: 1px solid lightgrey;
}
.save button .fa.fa-heart {
		float: left;
		margin-left: 60px;
		margin-top: -45px;
		color: black;
}
#aw2_1 .fa.fa-beer {
	position: relative;
	left: 3px;
	color: black;
}
#aw2_1 .fa.fa-rss {
	position: relative;
	left: -63px;
	top: 30px;
	color: black;
}
#aw2_1 .fa.fa-desktop {
	position: relative;
	left: -170px;
	top: 60px;
	color: black;
}
#aw2_1 .fa.fa-trash {
	position: relative;
	left: -275px;
	top: 90px;
	color: black;
}
#aw2_1 .fa.fa-photo {
	position: relative;
	left: -180px;
	color: black;
}
#aw2_1 .fa.fa-wrench {
	position: relative;
	left: -287px;
	top: 30px;
	color: black;
}
#add .fa.fa-star, #aw4_1 .fa.fa-star {
	float: left;
}
.s_share .fa.fa-flag {
	position: relative;
	left: 120px;
	top: 10px;
	color: black;
}
#od .fa.fa-square {
	position: relative;
	left: 3px;
	top: 5px;
	color: #FF8000;
}
.about {
	position: absolute;
	left: 1px;
	top: 601px;
	width: 60%;
	height: 1670px;
	border-bottom: 1px solid grey;
	background-color: lightgrey;
}
#about1 {
	position: absolute;
	left: 40px;
	width: 90%;
	height: 200px;
	border-bottom: 1px solid grey;
}
#about2 {
	position: absolute;
	left: 40px;
	top: 201px;
	width: 90%;
	height: 150px;
	border-bottom: 1px solid grey;
}
#about3 {
	position: absolute;
	left: 40px;
	top: 352px;
	width: 90%;
	height: 150px;
	border-bottom: 1px solid grey;
}
#about4 {
	position: absolute;
	left: 40px;
	top: 503px;
	width: 90%;
	height: 120px;
	border-bottom: 1px solid grey;
}
#about5 {
	position: absolute;
	left: 40px;
	top: 624px;
	width: 90%;
	height: 200px;
	border-bottom: 1px solid grey;
}
#about6 {
	position: absolute;
	left: 40px;
	top: 825px;
	width: 90%;
	height: 200px;
	border-bottom: 1px solid grey;
}
#about7 {
	position: absolute;
	left: 40px;
	top: 1026px;
	width: 90%;
	height: 120px;
	border-bottom: 1px solid grey;
}
#about8 {
	position: absolute;
	left: 40px;
	top: 1147px;
	width: 90%;
	height: 60px;
	border-bottom: 1px solid grey;
}
.font-face {
	font-family: "楷体";
}
#aw {
	position: relative;
	left: 30px;
	top: 10px;
	font-size: 20px;
	font-weight: bolder;
}
#aw_1 {
	position: relative;
	left: 30px;
	top: 10px;
	font-size: 18px;
}
#aw1 {
	position: relative;
	left: 30px;
	top: 5px;
	font-size: 18px;
}
#aw1_1 {
	position: relative;
	left: 200px;
	top: -30px;
	font-size: 16px;
}
#aw2_1 {
	position: relative;
	left: 200px;
	top: -30px;
	font-size: 18px;
}
#aw3_1 {
	position: relative;
	left: 200px;
	top: -10px;
	font-size: 16px;
}
#aw4_1 {
	position: relative;
	left: 200px;
	top: -30px;
	font-size: 18px;
}
#aw5_1 {
	position: relative;
	left: 200px;
	top: -30px;
	font-size: 18px;
}
#aw6_1 {
	position: relative;
	left: 200px;
	top: -30px;
	font-size: 18px;
}
#aw7_1 {
	position: relative;
	left: 200px;
	top: -30px;
	font-size: 18px;
}
#d1 {
	position: relative;
	left: 40px;
	top: 1210px;
	width: 400px;
	height: 200px;
	border: 1px solid black;
	opacity: 0.7;
}
#d2 {
	position: relative;
	left: 460px;
	top: 1010px;
	width: 300px;
	height: 200px;
	border: 1px solid black;
	opacity: 0.7;
}
#d3 {
	position: relative;
	left: 40px;
	top: 1020px;
	width: 400px;
	height: 200px;
	border: 1px solid black;
	opacity: 0.7;
}
#d4 {
	position: relative;
	left: 460px;
	top: 820px;
	width: 300px;
	height: 200px;
	border: 1px solid black;
	opacity: 0.7;
}
.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: black;
}
#d1:hover,#d2:hover,#d3:hover,#d4:hover {
	opacity: 1.0;
}
.eval {
	position: absolute;
	top: 2230px;
	width: 60%;
	height: 100px;
	border-bottom: 1px solid grey;
	background-color: white;
}
.deta {
	position: absolute;
	left: 61%;
	top: 1910px;
	width: 500px;
	height: 300px;
	border-radius: 30px;
	background-color: lightgrey;
}
#portrait {
	position: relative;
	left: 30px;
	top: 30px;	
	width: 120px;
	height: 120px;
	border: 1px solid grey;
	border-radius: 50%;
}
#od {
	position: relative;
	left: 220px;
	top: -100px;
	color: grey;
}
#in {
	position: absolute;
	left: 12px;
	top: 6px;
	color: #FFDC35;
	font-size: 26px;
}
#contact {
	position: relative;
	left: -65px;
	top: 90px;
	width: 120px;
	height: 50px;
	border-radius: 10px;
	background-color: #FF5151;
	color: white;
	text-align: center;
	font-size: 20px;
}
#map1 {
	position: absolute;
	left: 61%;
	top: 1050px;
	width: 500px;
	height: 800px;
	border: 1px solid grey;
	background-color: lightgrey;
}
