.img-title { background: #EF3133; }
.font-title {
	padding: 6px;
	color: white;
	font: bold 3.0em "Arial";
  text-shadow: 5px 5px 5px #FFFF00;
}
.china-border { border-left: 2px dashed gray; }
.font-china {
	font: bold 2.1em "Arial";
}
.font-item1 {
	margin: 20px;
	color: #00CCFF;
	font: bold 1.7em "Arial";
}
.font-item2 {
	margin: 40px;
  color: #383838;
	font: bold 1.7em "Arial";
}

/*ihover.css*/
.ih-item1 {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item1,
.ih-item1 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item1 a {
  color: #333;
}
.ih-item1 a:hover {
  text-decoration: none;
}
.ih-item1 img {
  width: 100%;
  height: 100%;
}
.ih-item1.circle1 {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.ih-item1.circle1 .img1 {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.ih-item1.circle1 .img1:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item1.circle1 .img1 img {
  border-radius: 50%;
}
.ih-item1.circle1 .info1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item1.square {
  position: relative;
  width: 100%;
  height: auto;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.ih-item1.square .info1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ih-item1.circle1.change2 .img1 {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item1.circle1.change2.colored .info1 {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.6);
}
.ih-item1.circle1.change2 .info1 {
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item1.circle1.change2.left_to_right .info1 {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.ih-item1.circle1.change2.left_to_right a:hover .img1 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.ih-item1.circle1.change2.left_to_right a:hover .info1 {
  opacity: 1;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.ih-item1.circle1.change2.right_to_left .info1 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.ih-item1.circle1.change2.right_to_left a:hover .img1 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ih-item1.circle1.change2.right_to_left a:hover .info1 {
  opacity: 1;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.ih-item1.circle1.change2.top_to_bottom .info1 {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ih-item1.circle1.change2.top_to_bottom a:hover .img1 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.ih-item1.circle1.change2.top_to_bottom a:hover .info1 {
  opacity: 1;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.ih-item1.circle1.change2.bottom_to_top .info1 {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.ih-item1.circle1.change2.bottom_to_top a:hover .img1 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ih-item1.circle1.change2.bottom_to_top a:hover .info1 {
  opacity: 1;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ih-item1.circle1.effect15 .img1 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) rotate(0);
  -moz-transform: scale(1) rotate(0);
  -ms-transform: scale(1) rotate(0);
  -o-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item1.circle1.effect15.colored .info1 {
  background: #1a4a72;
}
.ih-item1.circle1.effect15 .info1 {
  background: #333333;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.5) rotate(-720deg);
  -moz-transform: scale(0.5) rotate(-720deg);
  -ms-transform: scale(0.5) rotate(-720deg);
  -o-transform: scale(0.5) rotate(-720deg);
  transform: scale(0.5) rotate(-720deg);
  -webkit-transition: all 0.35s ease-in-out 0.3s;
  -moz-transition: all 0.35s ease-in-out 0.3s;
  transition: all 0.35s ease-in-out 0.3s;
}
.ih-item1.circle1.effect15 a:hover .img1 {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.5) rotate(720deg);
  -moz-transform: scale(0.5) rotate(720deg);
  -ms-transform: scale(0.5) rotate(720deg);
  -o-transform: scale(0.5) rotate(720deg);
  transform: scale(0.5) rotate(720deg);
}
.ih-item1.circle1.effect15 a:hover .info1 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) rotate(0);
  -moz-transform: scale(1) rotate(0);
  -ms-transform: scale(1) rotate(0);
  -o-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

.ih-item1.square.effect3 {
  overflow: hidden;
}
.ih-item1.square.effect3.colored .info1 {
  background: #1a4a72;
}
.ih-item1.square.effect3 .img1 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item1.square.effect3 .info1 {
  height: 45px;
  background: #333333;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item1.square.effect3 .info1 h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 10px 10px 0 4px;
  margin: 4px 0 0 0;
}
.ih-item1.square.effect3 .info1 p {
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #bbb;
  padding: 5px;
  text-align: center;
}
.ih-item1.square.effect3 a:hover .info1 {
  visibility: visible;
  opacity: 1;
}

.ih-item1.square.effect3.bottom_to_top .info1 {
  top: auto;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.ih-item1.square.effect3.bottom_to_top a:hover .img1 {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
}
.ih-item1.square.effect3.bottom_to_top a:hover .info1 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.ih-item1.square.effect3.top_to_bottom .info1 {
  bottom: auto;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ih-item1.square.effect3.top_to_bottom a:hover .img1 {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.ih-item1.square.effect3.top_to_bottom a:hover .info1 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.ih-item1.square.effect6 {
  overflow: hidden;
}
.ih-item1.square.effect6.colored .info1 {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.6);
}
.ih-item1.square.effect6.colored .info1 h3 {
  background: rgba(12, 34, 52, 0.6);
}
.ih-item1.square.effect6 .img1 {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.ih-item1.square.effect6 .info1 {
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item1.square.effect6 .info1 h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  background: #111111;
  margin: 30px 0 0 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item1.square.effect6 .info1 p {
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;
  -webkit-transition: all 0.35s 0.1s linear;
  -moz-transition: all 0.35s 0.1s linear;
  transition: all 0.35s 0.1s linear;
}
.ih-item1.square.effect6 a:hover .img1 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.ih-item1.square.effect6 a:hover .info1 {
  visibility: visible;
  opacity: 1;
}

.ih-item1.square.effect6.from_top_and_bottom .info1 h3 {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ih-item1.square.effect6.from_top_and_bottom .info1 p {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.ih-item1.square.effect6.from_top_and_bottom a:hover .info1 h3,
.ih-item1.square.effect6.from_top_and_bottom a:hover .info1 p {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.ih-item1.square.effect6.from_left_and_right .info1 h3 {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.ih-item1.square.effect6.from_left_and_right .info1 p {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.ih-item1.square.effect6.from_left_and_right a:hover .info1 h3,
.ih-item1.square.effect6.from_left_and_right a:hover .info1 p {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.ih-item1.square.effect6.top_to_bottom .info1 h3 {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ih-item1.square.effect6.top_to_bottom .info1 p {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ih-item1.square.effect6.top_to_bottom a:hover .info1 h3,
.ih-item1.square.effect6.top_to_bottom a:hover .info1 p {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.ih-item1.square.effect6.bottom_to_top .info1 h3 {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.ih-item1.square.effect6.bottom_to_top .info1 p {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.ih-item1.square.effect6.bottom_to_top a:hover .info1 h3,
.ih-item1.square.effect6.bottom_to_top a:hover .info1 p {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.ih-item1.square.effect7 {
  overflow: hidden;
}
.ih-item1.square.effect7.colored .info1 {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.6);
}
.ih-item1.square.effect7.colored .info1 h3 {
  background: rgba(12, 34, 52, 0.6);
}
.ih-item1.square.effect7 .img1 {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.ih-item1.square.effect7 .info1 {
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item1.square.effect7 .info1 h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  background: #111111;
  margin: 30px 0 0 0;
  -webkit-transform: scale(4);
  -moz-transform: scale(4);
  -ms-transform: scale(4);
  -o-transform: scale(4);
  transform: scale(4);
  -webkit-transition: all 0.35s 0.1s ease-in-out;
  -moz-transition: all 0.35s 0.1s ease-in-out;
  transition: all 0.35s 0.1s ease-in-out;
}
.ih-item1.square.effect7 .info1 p {
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -ms-transform: scale(5);
  -o-transform: scale(5);
  transform: scale(5);
  -webkit-transition: all 0.35s 0.3s linear;
  -moz-transition: all 0.35s 0.3s linear;
  transition: all 0.35s 0.3s linear;
}
.ih-item1.square.effect7 a:hover .img1 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.ih-item1.square.effect7 a:hover .info1 {
  visibility: visible;
  opacity: 1;
}
.ih-item1.square.effect7 a:hover .info1 h3,
.ih-item1.square.effect7 a:hover .info1 p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/**/

.ac-custom1 {
	padding: 0 3em;
	max-width: 900px;
	margin: 0 auto;
}

.ac-custom1 ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	max-width: 800px;
}

.ac-custom1 li {
	margin: 0 auto;
	padding: 20% 0;
	position: relative;
}

.ac-custom1 label {
	display: inline-block;
	position: relative;
	font-size: 2em;
	padding: 0 0 0 40px;
	vertical-align: top;
	color: rgba(0,0,0,0.8);
	text-shadow: 5px 5px 5px #F5F5F5;
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.ac-custom1 input[type="radio"],
.ac-custom1 label::before {
	width: 40px;
	height: 40px;
	top: 50%;
	left: 0;
	margin-top: -20px;
	position: absolute;
	cursor: pointer;
}

.ac-custom1 input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.ac-custom1 label::before {
	content: '';
	border: 4px solid #fff;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.ac-radio1 label::before {
	border-radius: 50%;
	background-color: #FA8072;
}

.ac-custom1 input[type="radio"]:checked + label {
	color: #FF0000;
	text-shadow: 5px 5px 5px gray;
} 

.ac-custom1 input[type="radio"]:checked + label::before {
	opacity: 0.8;
}

/* General SVG and path styles */

.ac-custom1 svg {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	margin-top: -15px;
	left: 5px;
	pointer-events: none;
}

.ac-custom1 svg path {
	stroke: #EEEEE0;
	stroke-width: 10px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}


