<div ng-controller="countryCtrl">
	<div class="row img-title">
		<div class="row">
	  	<div class="text-center">
				<img src="img/country/chinaP1.jpg" width="340" height="340"/>
			</div>
		</div>
		<div class="row text-center font-title">Welcome  to  China  !</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-2">
			<div class="row" style="margin: 60px 0 60px 0">
				<div class="row text-center">
					<img src="img/country/China.jpg" class="img-circle" width="60%" height="auto" />
				</div>
				<div class="row text-center text-muted font-china">CHINA</div>
        <div class="row text-center text-muted font-china">中国</div>
			</div>
			<div class="row">
        <form class="ac-custom1 ac-radio1 ac-fill" style="margin-left: 5%; margin-right: 5%;">
          <ul>
            <li><input id="c1" name="c1" type="radio"><label for="c1">当季热门</label></li>
            <li><input id="c2" name="c1" type="radio"><label for="c2">特色房源</label></li>
          </ul>
        </form>
      </div>
		</div>
		<div class="col-md-9 col-sm-10" style="border-left: 2px dashed gray">
			<div class="row" style="margin-top: 40px" id="hotcity">
				<div class="col-md-4 col-md-offset-1 col-sm-12 col-xs-12">
          <div class="ih-item1 circle1 effect15 left_to_right" style="margin-top: 25%; padding: 10%">
            <a href="#">
              <div class="img1" ui-sref="menu.house"><img src="img/country/beijing.jpg" alt="img1"></div>
              <div class="info1 img1" ui-sref="menu.house"><img src="img/country/beijing1.jpg" alt="img1"></div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="ih-item1 circle1 change2 left_to_right" style="padding: 5%">
            <a href="#">
              <div class="img1"><img src="img/country/shanghai.jpg" alt="img1"></div>
              <div class="info1 img1"><img src="img/country/shanghai1.jpg" alt="img1"></div>
            </a>
          </div>
        </div>
				<div class="col-md-3 col-sm-6 col-xs-6">
  				<div class="ih-item1 circle1 change2 right_to_left" style="padding: 5%">
  					<a href="#">
    					<div class="img1"><img src="img/country/jiangsu.jpg" alt="img1"></div>
    					<div class="info1 img1"><img src="img/country/jiangsu1.jpg" alt="img1"></div>
    				</a>
    			</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6" style="margin-top: 30px">
				  <div class="ih-item1 circle1 change2 left_to_right" style="padding: 5%">
					   <a href="#">
  							<div class="img1"><img src="img/country/aomen.jpg" alt="img1"></div>
  							<div class="info1 img1"><img src="img/country/aomen1.jpg" alt="img1"></div>
  					 </a>
  				</div>
				</div>
        <div class="col-md-3 col-sm-6 col-xs-6" style="margin-top: 30px">
          <div class="ih-item1 circle1 change2 right_to_left" style="padding: 5%">
            <a href="#">
              <div class="img1"><img src="img/country/shandong.jpg" alt="img1"></div>
              <div class="info1 img1"><img src="img/country/shandong1.png" alt="img1"></div>
            </a>
          </div>
        </div>

				<div class="col-md-6 col-md-offset-1" style="margin-top: 40px"> 
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="ih-item1 circle1 change2 top_to_bottom">
							<a href="#">
  							<div class="img1"><img src="img/country/yunnan.jpg" alt="img1"></div>
  							<div class="info1 img1"><img src="img/country/yunnan1.jpg" alt="img1"></div>
  						</a>
  					</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="ih-item1 circle1 change2 top_to_bottom">
							<a href="#">
								<div class="img1"><img src="img/country/xinjiang.jpg" alt="img1"></div>
								<div class="info1 img1"><img src="img/country/xinjiang1.jpg" alt="img1"></div>
							</a>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 30px">
						<div class="ih-item1 circle1 change2 bottom_to_top">
							<a href="#">
								<div class="img1"><img src="img/country/xizang.jpg" alt="img1"></div>
								<div class="info1 img1"><img src="img/country/xizang1.jpg" alt="img1"></div>
							</a>
  					</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 30px">
						<div class="ih-item1 circle1 change2 bottom_to_top">
							<a href="#">
								<div class="img1"><img src="img/country/taiwan.jpg" alt="img1"></div>
								<div class="info1 img1"><img src="img/country/taiwan1.jpg" alt="img1"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12">
					<div class="ih-item1 circle1 effect15 left_to_right" style="margin-top: 37%; padding: 10%;">
						<a href="#">
							<div class="img1"><img src="img/country/xianggang.jpg" alt="img1"></div>
							<div class="info1 img1"><img src="img/country/xianggang1.jpg" alt="img1"></div>
						</a>
					</div>
				</div>
      </div>

			<div class="row" id="specials" style="margin-top: 20px; display: none">
        <div class="row">
			    <div class="col-md-6 col-sm-12 col-xs-12">
				    <div class="ih-item1 square colored effect3 bottom_to_top text-center">
              <a href="#">
						     <div class="img1"><img src="img/country/treehouse.jpg" alt="img1"></div>
						 	   <div class="info1"><h3>神奇树屋<small>详情>></small></h3></div>
					    </a>
            </div> 
			    </div>
			    <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="row">
			        <div class="ih-item1 square effect7"><a href="#">
                <div class="img1"><img src="img/country/menggubao.jpg" alt="img1"></div>
                <div class="info1">
                  <h3>蒙古包</h3>
                  <p>详情>></p>
                </div></a>
              </div>
            </div>
            <div class="row" style="margin-top: 15px">
              <div class="ih-item1 square effect7"><a href="#">
                <div class="img1"><img src="img/country/outhouse.jpg" alt="img1"></div>
                <div class="info1">
                  <h3>户外生活</h3>
                  <p>详情>></p>
                </div></a>
              </div>
            </div>
  				</div>
          <div class="col-md-3 col-sm-6 col-xs-6">
				    <div class="row">
              <div class="ih-item1 square effect7"><a href="#">
                <div class="img1"><img src="img/country/guzhen.jpg" alt="img1"></div>
                <div class="info1">
                  <h3>水乡古镇</h3>
                  <p>详情>></p>
                </div></a>
              </div>
				    </div>
				    <div class="row" style="margin-top: 15px" >
					    <div class="ih-item1 square colored effect7">
                <a href="#">
                  <div class="img1"><img src="img/country/building.jpg" alt="img1"></div>
                  <div class="info1">
                    <h3>现代别墅</h3>
                    <p>详情>></p>
                  </div>
                </a>
              </div>
  					</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6" style="margin-top: 20px">
          <div class="row">
					  <div class="ih-item1 square effect6 from_top_and_bottom">
              <a href="#">
                <div class="img1"><img src="img/country/youting.jpg" alt="img1"></div>
                <div class="info1">
                  <h3>游艇</h3>
                  <p>详情>></p>
                </div>
              </a>
            </div>
  				</div>
          <div class="row" style="margin-top: 15px">
            <div class="ih-item1 square colored effect6 from_top_and_bottom">
              <a href="#">
                <div class="img1"><img src="img/country/siheyuan.jpg" alt="img1"></div>
                <div class="info1">
                  <h3>四合院</h3>
                  <p>详情>></p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 20px">
          <div class="ih-item1 square colored effect3 bottom_to_top text-center">
            <a href="#">
              <div class="img1"><img src="img/country/seahouse.jpg" alt="img1"></div>
              <div class="info1"><h3>这样去海边<small>详情>></small></h3></div>
            </a>
          </div> 
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6" style="margin-top: 20px">
          <div class="row">
            <div class="ih-item1 square colored effect6 from_top_and_bottom">
              <a href="#">
                <div class="img1"><img src="img/country/jiudian.jpg" alt="img1"></div>
                <div class="info1">
                  <h3>亚洲顶级酒店</h3>
                  <p>详情>></p>
                </div>
              </a>
            </div>
          </div>
          <div class="row" style="margin-top: 15px">
            <div class="ih-item1 square colored effect6 from_top_and_bottom">
              <a href="#">
                <div class="img1"><img src="img/country/chengbao.png" alt="img1"></div>
                <div class="info1">
                  <h3>城堡</h3>
                  <p>详情>></p>
                </div>
              </a>
            </div>
          </div>
        </div> 
      </div>      		
    </div>
	</div>
</div>
