<div ng-controller="helpCtrl">
  <!-- 搜索栏行 -->
	<div class="row top">
		<!-- 输入框 -->
    <div class="col-md-12 title">
			<h1 style="font-weight: 900">欢迎您！我们如何才能帮到您？</h1>
			<div id="morphsearch" class="morphsearch">
				<form class="morphsearch-form">
					<input class="morphsearch-input" type="search" placeholder="Search"/>
				</form>
				<div class="morphsearch-content">
					<div class="dummy-column">
						<h2>问题</h2>
						<a class="dummy-media-object" id="howtocalculate">
							<h3>预定的价格是如何计算的？</h3>
						</a>
						<a class="dummy-media-object">
							
							<h3>什么是已验证身份</h3>
						</a>
						<a class="dummy-media-object">
							
							<h3>评价如何运作</h3>
						</a>
					</div>
					<div class="dummy-column">
						<h2>用户须知</h2>
						<a class="dummy-media-object">
							<h3>如何使用</h3>
						</a>
						<a class="dummy-media-object">
							<h3>出租须知</h3>
						</a>
						<a class="dummy-media-object">
							<h3>旅行须知</h3>
						</a>
					</div>
					<div class="dummy-column">
						<h2>常见问题</h2>
						<a class="dummy-media-object" >
							<h3>如何注册</h3>
						</a>
						<a class="dummy-media-object">
							<h3>如何登陆</h3>
						</a>
						<a class="dummy-media-object" >
							<h3>如何退房</h3>
						</a>
					</div>
				</div> 
		    <span class="morphsearch-close"></span>
	    </div>
  	</div>
  	<!-- 输入框 -->
  	<!-- 切换符号 -->
  	<button type="button" class="btn fa fa-navicon fa-2x" id="trigger" style="padding: 3px 3px 1px 3px; margin: 5px; color: white"><botton>
  </div><!-- /搜索栏行 -->

  <!-- 中间主体 -->
  <div class="mp-pusher" id="mp-pusher">
		<!--侧边栏 --><!-- mp-menu -->
		<div id="mp-menu" class="mp-menu">
		  <div class="mp-level">
				<h2 class="icon icon-world">帮助中心</h2>
				<a class="mp-back helpCenter" href="javascript:void(0)">back</a>
				<ul>
					<li class="icon icon-arrow-left">
					  <a class="icon icon-display" href="javascript:void(0)">新手上路</a>
						<div class="mp-level">
							<h2 class="icon icon-display">新手上路</h2>
							<a class="mp-back" href="javascript:void(0)">back</a>
							<ul>
								<li><a href="javascript:void(0)" class="howtouse">如何使用Trekker</a></li>
								<li><a href="javascript:void(0)">如何旅行</a></li>
								<li><a href="javascript:void(0)">如何出租房源</a></li>
							</ul>
						</div>
					</li>
					<li class="icon icon-arrow-left">
					  <a class="icon icon-display" href="javascript:void(0)">账号和个人资料</a>
						<div class="mp-level">
							<h2 class="icon icon-display">账号和个人资料</h2>
							<a class="mp-back" href="javascript:void(0)">back</a>
							<ul>
								<li><a class="icon icon-camera">注册</a></li>
								<li class="icon icon-arrow-left">
									<a class="icon icon-tv" href="javascript:void(0)">管理你的个人资料</a>
									<div class="mp-level">
										<h2>管理你的个人资料</h2>
										<a class="mp-back" href="javascript:void(0)">back</a>
										<ul>
											<li><a href="javascript:void(0)">关于你</a></li>
											<li><a href="javascript:void(0)">验证</a></li>
											<li><a href="javascript:void(0)">超赞房东</a></li>
											<li><a href="javascript:void(0)">推荐语和好友申请</a></li>
										</ul>
									</div>
								</li>
								<li><a href="javascript:void(0)">安全和密码</a></li>
							</ul>
						</div>
					</li>
					<li class="icon icon-arrow-left">
				   <a class="icon icon-display" href="javascript:void(0)">出租</a>
						<div class="mp-level">
							<h2 class="icon icon-display">出租</h2>
							<a class="mp-back" href="javascript:void(0)">back</a>
							<ul>
								<li><a class="icon icon-camera" href="javascript:void(0)">是否决定出租</a></li>
								<li><a class="icon icon-tv" href="javascript:void(0)">您的房源</a></li>
								<li><a class="icon icon-camera" href="javascript:void(0)">您的预定</a></li>
							</ul>
						</div>
					</li>
					<li><a class="icon icon-photo" href="javascript:void(0)">旅行</a></li>
					<li><a class="icon icon-photo" href="javascript:void(0)">评价</a></li>
					<li><a class="icon icon-photo" href="javascript:void(0)">商务差旅</a></li>
					<li><a class="icon icon-photo" href="javascript:void(0)">税费</a></li>
					<li><a class="icon icon-photo" href="javascript:void(0)">社区</a></li>
					<li><a class="icon icon-photo" href="javascript:void(0)">政策</a></li>
					<li><a class="icon icon-wallet" href="javascript:void(0)">联系</a></li>
				</ul>
			</div>
		</div>
		<!-- /mp-menu --><!--侧边栏 -->
    <!-- 中间主体 -->
	  <div class="container" style="background-color: #fff">
			<div class="row">
		    <!-- 详细页面 -->
		    <div class="row">
		    <!-- 第一个界面 -->
					<div class="row first">
					  <!-- 推荐的文章 -->
						<div class="row">
							<h2 style="font-weight: 700">为您推荐的文章</h2>
					   	<ul>
						    <li class="help">
					   	    <a id="howtocalculate"href="javascript:void(0)">
					   	    	<h3>
					   	      	<i class="fa fa-file-text-o"></i>预定的价格是如何计算的？
					   	      </h3>
					   	    </a>
						    </li>
						    <li class="help">
						    	<a href="javascript:void(0)">
						    		<h3>
						    			<i class="fa fa-file-text-o"></i>什么是"已验证身份"？
						    		</h3>
						    	</a>
						    </li>
						    <li class="help">
						    	<a href="javascript:void(0)">
						    		<h3>
				            	<i class="fa fa-file-text-o"></i>评价是如何运作的？
				            </h3>
						    	</a>
						    </li>
						    <li class="help">
						    	<a href="javascript:void(0)">
						    		<h3>
						    			<i class="fa fa-file-text-o"></i>哪里可以了解到更多有关专业摄影服务？
						    		</h3>
						    	</a>
						    </li>
						    <li class="help">
						    	<a href="javascript:void(0)"><h3>
						    		<i class="fa fa-file-text-o"></i>
						    		以房客身份取消预定？</h3>
						    	</a>
						    </li>
				    	</ul>
						</div><!-- 推荐的文章 -->
						<!-- 热门话题 -->
						<div class="row topic">
						 	<div class="col-md-12">
				   	    <h2 style="font-weight: 700">热门话题</h2>
				     	</div>
				      <div class="col-md-2 sign">
				   	  	<a href="javascript:void(0)">
				   	  		<h2><i class="fa fa-paper-plane"></i></h2><br>
				   	    	<h3>准备去旅行</h3>
				   	    </a>
				   	  </div>
				   	  <div class="col-md-2 sign">
				   	  	<a href="javascript:void(0)">
				   	  		<h2><i class="fa fa-pencil-square-o"></i></h2><br>
				   	    	<h3>更新/取消订单</h3>
				   	    </a>
				   	  </div>
				   	  <div class="col-md-2 sign">
				   	  	<a href="javascript:void(0)">
				   	    	<h2><i class="fa fa-flag"></i></h2><br>
				   	    	<h3>报告问题</h3>
				   	    </a>
				   	  </div>
				   	  <div class="col-md-2 sign">
				   	  	<a href="javascript:void(0)">
				   	    	<h2><i class="fa fa-credit-card"></i></h2><br>
				   	    	<h3>付款和收款</h3>
				   	    </a>
				   	  </div>
				   	  <div class="col-md-2 sign">
				   	  	<a href="javascript:void(0)">
				   	    	<h2><i class="fa fa-commenting-o"></i></h2><br>
				   	    	<h3>给我们好评吧</h3>
				   	    </a>
				   	  </div>
				   	  <div class="col-md-2 sign">
				   	  	<a href="javascript:void(0)">
				   	    	<h2><i class="fa fa-pencil"></i></h2><br>
				   	    	<h3>编辑你的资料</h3>
				   	    </a>
				   	  </div>
				   	  <div class="col-md-2 sign">
				   	  	<a href="javascript:void(0)">
				   	    	<h2><i class="fa fa-credit-card-alt"></i></h2><br>
				   	    	<h3>预订住宿</h3>
				   	    </a>
				   	  </div>
				   	  <div class="col-md-2 sign">
				   	  	<a href="javascript:void(0)">
				   	    	<h2><i class="fa fa-star"></i></h2><br>
				   	    	<h3>特别优惠</h3>
				   	    </a>
				   	  </div>
						</div><!-- 热门话题 -->
						<!-- 新手上路 -->
			      <div class="row onload">
							<div class="col-md-12"><h2 style="font-weight: 700">新手上路</h2></div><hr>
							<div class="col-md-12">
							  <div class="col-md-4">
								  <div class="grid">
										<figure class="effect-ming">
											<img src="img/help/1.png" alt="img01"/>
											<figcaption>
												<h2>如何使用Trekker</h2>
												<p>了解更多关于Trekker的一切, 让我们告诉您为什么我们是一个可靠安全及容易使用的平台。</p>
												<a href="#">阅读更多</a>
											</figcaption>			
										</figure>
									</div>
								</div>
						    <div class="col-md-4">
		              <div class="grid">
										<figure class="effect-jazz">
											<img src="img/help/2.png" alt="img01"/>
											<figcaption>
												<h2>出租须知</h2>
												<p>了解如何发布空间、回复预订申请以及迎接房客。</p>
												<a href="#">阅读更多</a>
											</figcaption>			
										</figure>
									</div>
						    </div>
						    <div class="col-md-4">
		              <div class="grid">
										<figure class="effect-apollo">
											<img src="img/help/3.png" alt="img01"/>
											<figcaption>
												<h2>旅行须知</h2>
												<p>了解如何搜索理想的房源、联系房东以及为难忘的旅程做准备。</p>
												<a href="#">阅读更多</a>
											</figcaption>			
										</figure>
									</div>
						    </div>
							</div>
						</div><!-- 新手上路 -->
					</div><!-- 第一个界面 -->
					<!-- 第二个界面 -->
					<div class="row second">
					  <h1 style="font-weight: 900">如何使用Trekker</h1>
					  <!--建立在分享上的社区 -->
						<div class="row">
							<div class="HowToUse">
							  <div class="col-md-9">
					   	    <h3 style="font-weight: 700">建立在分享上的社区</h3>
					   	    <span style="font-size: 20px; color:grey;">
					   	    	Trekker成立于2008年。当时，两位拥有闲置空间的设计师接待了三位正在寻找住处的旅行者。如今，数百万的房东和旅行者选择免费注册trekker帐号，以发布自己的空间及预订世界各地的独特房源
					   	    </span><br>
					   	    <a href="javascript:void(0)" style="color: red">了解更多</a>
						   	</div>
				   	    <div class="col-md-3">
				   	   	  <img src="img/help/community.png" height="150px"/>
				   	    </div>
						  </div><br>
					    <div class="HowToUse">
						   	<div class="col-md-9">
					   	    <h3 style="font-weight: 700">可信赖的服务</h3>
					   	    <span style="font-size: 20px; color:grey;">
					   	    	trekker让分享变得简单、愉快、安全。我们验证用户的个人资料和房源信息，为房东和房客提供一个智能消息系统让他们可以放心沟通，同时我们还拥有一个值得信赖的收款和转款平台。
					   	    </span><br>
					   	    <a href="javascript:void(0)" style="color: red">了解更多</a>
					   	  </div>
				   	   	<div class="col-md-3">
				   	   	  <img src="img/help/service.png" height="150px"/>
				   	   	</div>
					    </div><br>
					    <div class="HowToUse">
					    	<div class="col-md-9">
					   	    <h3 style="font-weight: 700">7*24小时客户支持</h3>
					   	    <span style="font-size: 20px; color:grey;">
					   	    	无论您是旅行还是出租，我们都会在您的体验开始前、体验过程中以及体验结束后为您提供支持。大部分关于Trekker的常见问题都可以在我们的帮助中心找到答案。如有任何其他问题，请访问以下页面联系我们：trekker.com/contact.
					   	    </span><br>
					   	  </div>
				   	    <div class="col-md-3">
				   	   	  <img src="img/help/support.png" height="150px"/>
				   	   	</div>
					    </div>
						</div><!--建立在分享上的社区 -->
						<h1 style="font-weight: 900">查找更多信息？</h1>
						<div class="row"><!-- 查找更多信息？ -->
							<div class="LearnMoreMessage">
							  <div class="col-md-3">
					   	   	<img src="img/help/return.png"style="height:150px"/>
					   	  </div>
						    <div class="col-md-9">
					   	    <h3 style="font-weight: 700">房客退款政策</h3>
					   	    <span style="font-size: 20px; color:grey;">如果您遇到旅行问题，我们的客服团队将会为您提供支持.</span><br>
					   	    <a href="javascript:void(0)" style="color: red">访问我们的政策中心了解更多 »</a>
					   	  </div>
						  </div><br>
					    <div class="LearnMoreMessage">
					    	<div class="col-md-3">
				   	   	  <img src="img/help/learnmore.png" style="height:150px"/>
				   	    </div>
					    	<div class="col-md-9">
					   	    <h3 style="font-weight: 700">访问我们的政策中心了解更多</h3>
					   	    <span style="font-size: 20px; color:grey;">
					   	    	访问我们的旅行者与房东常见问题，了解更多有关如何使用Trekker的信息。
					   	    </span><br>
					   	  </div>
					    </div><br>
					    <div class="LearnMoreMessage">
					     	<div class="col-md-3">
				   	   	  <img src="img/help/security.png"style="height:150px"/>
				   	    </div>
					    	<div class="col-md-9">
					   	    <h3 style="font-weight: 700">访问安全中心</h3>
					   	    <span style="font-size: 20px; color:grey;">您的安全是我们关注的首要问题。</span><br>
					   	    <a href="javascript:void(0)" style="color: red">前往我们的“信任与安全中心”，了解更多 »</a>
					   	  </div>
					    </div>
						</div><!-- 查找更多信息？ -->
					</div><!-- 第二个界面 -->
					<!-- 第三个界面 -->
					<div class="row centerClick">
					  <h1 style="font-weight: 900">预订的价格是如何计算的？</h1>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-12" style="background-color: #F2F2F2;">
					   	    <h3 style="font-weight: 700;font-color:grey;">	
					   	    	Trekker上的预订总价取决于好几个因素。请注意，房东一旦接受您的预订申请
					   	    </h3>
					   	    <h3>由房东决定的费用：</h3>
					   	    <ul>
					   	    	<li><h4 style="font-size: 20px;font-color:grey;">每晚价格：由房东决定的每晚费用</h4></li>
					   	    	<li><h4>清洁费：有些房东为支付房源的清洁费用而收取的一次性费用</h4></li>
					   	    	<li><h4>额外房客费：有些房东为支付与使用他们的房源有关的其他费用而收取的一次性费用</h4></li>
					   	    </ul>
                </div>
                <div class="col-md-12" style="background-color: #F2F2F2; margin-top: 30px;margin-bottom: 30px"> 
					   	    <h3 style="font-weight: 700;font-color:grey;">由Trekker决定的费用：</h3>
					   	    <ul>
					   	    	<li><h4>每晚价格：由房东决定的每晚费用</h4></li>
					   	    	<li><h4>Trekker服务费：为帮助Trekker顺利运行以及提供7*24小时客户支持而对所有预订收取的房客服务费</h4></li>
					   	    	<li><h4><a style="color: red">增值税(VAT)</a>：向居住在欧盟、瑞士、挪威、冰岛、南非和日本（以消费税(JCT)形式征收）的房客征收的税费。</h4></li>
					   	    	<li><h4><a style="color: red">地方税</a>: 按房东的房源所在地征收的税费。</h4></li>
					   	    </ul>
						   	</div>
					      <h3 style="font-weight:900">请注意：只有当房东需要提出索赔时才会收取保证金。</h3>
						  </div>
						</div>
				    <div class="row" style="margin-top: 30px;">
			   	   	<div class="panel panel-default">
                <div class="panel-heading"><h4>相关内容</h4></div>
              </div>
					    <div class="panel-body">
					      <ul style="liststyle:none">
					      	<li><h4><a href="javascript:void(0)" >何时为预订付款？</a></h4></li>
					      	<li><h4><a href="javascript:void(0)" >Trekker如何处理保证金？</a></h4></li>
					      	<li><h4><a href="javascript:void(0)" >是否可以使用多种方式为预订付款？</a></h4></li>
					      	<li><h4><a href="javascript:void(0)" >如何为长期住宿预订支付房费？</a></h4></li>
					      </ul>
					    </div>
	          </div>
					</div><br>
			   	<div style="margin-top: 30px;">
		   	   	<span>是否有帮助?</span>
		   	   	<span><a href="javascript:void(0)" style="color: red">是</a></span>
		   	   	<span><a href="javascript:void(0)" style="color: red">否</a></span>
			   	</div>
				</div><!-- 第三个界面 -->
		  </div>  <!-- 详细页面 -->
		</div>
	</div><!-- 中间主体-->
</div><!-- pusher -->
