<div class="canvas">
	<!-- box in picture -->
	<div class="row">
		<div class="rcol-12">
			<img src="img/room/room6.jpg" class="picture">
			<div class="box">
				<div class="box1 visible-xs"></div>
				<div class="box2">
					<h2 class="size1">
						成为Trekker房东并赚取收入
					</h2>
					<p class="size2"> 
						房东用这些额外收入来为自己的兴趣和需求买单，从修缮房屋到踏上梦幻之旅，无所不有
					</p>
					<button class="button1" ui-sref="menu.step">
						<span class="size3">开始出租</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 如何出租房源 -->
	<div class="row" style="margin-top: 430px">
		<div class="rcol-offset-new5 rcol-5">
			<span class="size4">如何出租房源</span>
		</div>
	</div>
	<!-- part1 -->
	<div class="row">
		<div class="rcol-offset-2 rcol-8">
			<div class="box3" style="margin-top: 30px">
				<div class="box4">
					<span class="size5">①</span>
					<p class="size6" style="margin-top: 3%">注册账号开始出租</p>
					<p class="size7">从创建页面开始吧。该页面就好像您的空间的一个个人页面</p>
					<div class="row">
						<div class="rcol-new3">
							<i class="fa fa-home fa-inverse fa-2x fa-inverse-style"></i>
							<p class="size8" style="margin-top: 10%">房源里有什么</p>
							<p class="size9">	
								您需要填写房源描述、拍摄上传照片并决定住宿价格。房源页面能够让房客对您的空间有一个大致的了解
							</p>
						</div>
						<div class="rcol-new3 left1">
							<i class="fa fa-users fa-inverse fa-2x fa-inverse-style"></i>
							<p class="size8" style="margin-top: 10%">谁可以预订</p>
							<p class="size9">   
								您来规定谁可以入住以及何时可以入住。通过设置预订和房客偏好，您可以按照自己的生活方式和节奏来出租。
							</p>
						</div>
						<div class="rcol-new3 left2">
							<i class="fa fa-hand-paper-o fa-inverse fa-2x fa-inverse-style"></i>
							<p class="size8" style="margin-top: 10%">我们将随时为您提供帮助</p>
							<p class="size9">
								出租过程中我们会为您提供建议和帮助。从准备房源和选择价格、到理解根据当地法律您需要承担的责任，我们都有相应的工具和资源来帮助您。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- part2 -->
	<div class="row">
		<div class="rcol-offset-2 rcol-8 top2">
			<div class="boxnew3" style="margin-top: 30px">
				<div class="box4">
					<span class="size5">②</span>
					<p class="size6" style="margin-top: 3%">房客找到您的房源并预定</p>
					<p class="size7">您将会收到来自房客预定确认和消息</p>
					<div class="row">
						<div class="rcol-new3">
							<i class="fa fa-commenting-o fa-inverse fa-2x fa-inverse-style"></i>
							<p class="size8" style="margin-top: 10%">给房客发消息</p>
							<p class="size9">通过在网站上或者应用消息来认识房客并回答他们的任何问题</p>
						</div>
						<div class="rcol-new3 left1">
							<i class="fa fa-briefcase fa-inverse fa-2x fa-inverse-style"></i>
							<p class="size8" style="margin-top: 10%">入住计划</p>
							<p class="size9">有的房东当面把钥匙交给房客，有的房东会提供开门的密码。您可以选择对您来说最方便的方式</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- part3 -->
	<div class="row">
		<div class="rcol-offset-2 rcol-8 topnew2">
			<div class="box5" style="margin-top: 30px">
				<div class="box4">
					<span class="size5">③</span>
					<p class="size6" style="margin-top: 3%">欢迎房客</p>
					<p class="size7">有的房东会提供早餐，有的则不会。如何接待房客由您自己来决定。</p>
					<div class="row">
						<div class="rcol-new3">
							<i class="fa fa-tag fa-inverse fa-2x fa-inverse-style"></i>
							<p class="size8" style="margin-top: 10%">收入和费用</p>
							<p class="size9">在这里您发布空间是免费的。我们对每次预订收取3%的房东服务费。</p>
						</div>
						<div class="rcol-new3 left1">
							<i class="fa fa-credit-card fa-inverse fa-2x fa-inverse-style"></i>
							<p class="size8" style="margin-top: 10%">房客如何付款</p>
							<p class="size9">我们将会处理所有付款事宜，您完全不用直接处理钱款。房客在入住之前就会付款</p>
						</div>
						<div class="rcol-new3 left2">
							<i class="fa fa-trash fa-inverse fa-2x fa-inverse-style"></i>
							<p class="size8" style="margin-top: 10%">从最基本的开始</p>
							<p class="size9">大多数房东会打扫所有房客将会使用的空间，并提供生活必需品，比如干净的床单、毛巾和卫生纸。</p>
						</div>
						<div class="rcol-new3 left3">
							<i class="fa fa-money fa-inverse fa-2x fa-inverse-style"></i>
							<p class="size8" style="margin-top: 10%">您如何获得收款</p>
							<p class="size9">您可以选择通过PayPal、支付宝、直接存款或者国际电汇来接收付款。系统会在房客入住24小时之后自动将款项汇给您。非常便捷。</p>
						</div>
						<div class="rcol-new3 left4">
							<i class="fa fa-sliders fa-inverse fa-2x fa-inverse-style"></i>
							<p class="size8" style="margin-top: 10%">收取多少费用</p>
							<p class="size9">收取多少费用由您来决定。注册之后，系统有根据旅游趋势和同类房源价格来设置价格的工具，您注册之后就可以使用。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- part4 -->
	<div class="row">
		<div class="rcol-offset-2 rcol-8 top3">
			<div class="box6" style="margin-top: 30px">
				<div class="box7">
					<p class="size6" style="margin-top: 3%">我们会保护您的利益</p>
					<p class="size7">为了保护您和您的家，我们会未雨绸缪，预先计划。</p>
					<div class="row">
			    	<div class="rcol-3">
			    		<i class="fa fa-shield fa-inverse fa-2x fa-inverse-style"></i>
			    		<p class="size8" style="margin-top: 10%">房东保障险</p>
			    		<p class="size9">如果房客受到伤害或者导致了房源损坏，房东保障险旨在为您这样的情况下提供保险。该保险已经作为您的账号的一部分被自动包括了。</p>
			    	</div>
			    	<div class="rcol-3 left1">
			    		<i class="fa fa-check fa-inverse fa-2x fa-inverse-style"></i>
			    		<p class="size8" style="margin-top: 10%">Trekker建立在信任的基础之上</p>
			    		<p class="size9">房客和房东都有带照片的个人资料。一趟旅程结束之后，每个人都有机会为对方写评价。评价能够促使房客尊重房东和他们的家。</p>
			    	</div>
			    	<div class="rcol-3 left2">
			    		<i class="fa fa-support fa-inverse fa-2x fa-inverse-style"></i>
			    		<p class="size8" style="margin-top: 10%">远不仅仅是钱</p>
			    		<p class="size9">除了赚取额外收入，房东同时也加入了一个全球支持社区。他们随时都有机会从Trekker社区以及其他房东身上学习。</p>
			    	</div>
			    	<div class="rcol-3 leftnew3">
			    		<i class="fa fa-bank fa-inverse fa-2x fa-inverse-style"></i>
			    		<p class="size8" style="margin-top: 10%">￥5,000,000房东保障金计划</p>
			    		<p class="size9">如果偶尔出现房屋或者所有物发生损坏的情况，房东保障金计划能够为您提供保障。每位在Trekker有房源的房东不需支付任何额外费用就有资格享受该计划的保障。您也不需要进行任何操作来注册参加该计划。</p>
			    	</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<!-- bottom -->
	<div class="row">
		<div class="rcol-12 top4">
			<!-- <div style=""></div> -->
			<img src="img/room/bottom.jpg" class="bottom">
		</div>
	</div>
</div>